i{
    margin-right: 12px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.header{
    height: 5em;
    display:flex;
    align-items: center;
    background-color: white;
}

.logo{
    margin: 10px;
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    color: #0b1148;
    opacity: .8;
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin: 10px;
}

.button{
    margin: 2px;
    inline-size: min-content;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 2em;
    color: #0b1148;
    font-size: 19px;
    font-weight: 450;
    cursor: pointer;
}

.button:hover{
    background-color:  #0b1148;
    color: #ffffff;
    border: 1px solid #0b1148;
    border-radius: 10px;
}

.button a{
    text-decoration: none;
    color: #0b1148;
}

.button:hover a{
    color: #ffffff;
}

.title{
    background-image: url('image-2-restaurants.jpg');
    border-radius: 20px;
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: cover;  
    background-size: cover;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.title-content{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.button-body-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
}

.button-body{
    margin: 5px;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 2.5em;
    width: 10vw;
    text-align: left;
    color: #ffffff;
    background-color: #0b1148;
    border: 2px solid #0b1148;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.button-body:hover{
    background-color:  #0b1148;
    color: #ffffff;
    border: 2px solid #0b1148;
    border-radius: 20px;
}

.button-body i{
    margin-left: 100px;
    float: right;
}

.button-body a{
    text-decoration: none;
    color: #0b1148;
}

.button-body:hover a{
    color: #ffffff;
}

.title-container{
    background-color: #ffffff;
    opacity: 0.8;
    width: 74%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    border-radius: 10px;
    margin: 35px;
}

.second-title{
    font-weight: 600;
    font-size: 28px;
    color: #0b1148;
    overflow-wrap: break-word;
}

.search-fields{
    display: flex;
    flex-wrap: wrap;
}

.form-group{
    margin: 10px;
}

.has-search .input-field {
    padding-left: 3rem;
}

.input-field{
    border-radius: 20px;
    width: 30vw;
    padding: 10px 10px 10px 30px;
    text-align: center;
    border: 1px solid #000000;
    text-align: left;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: #aaa;
}

.set{
    height: 480px;
    box-sizing: border-box;
    justify-content: center;
}

img{
    vertical-align: middle;
    border-radius: 20px;
    max-height: 480px;
    width: 98%;
    object-fit: cover;
}

.container.carousel{
    justify-content: center;
}

.title{
    animation: 12s autoplay infinite ease;
    width: 100%;
}

@keyframes autoplay {
    0% {background-image: url('image-2-restaurants.jpg');}
    50% {background-image: url('image-1-restaurants.jpg');}
    100% {background-image: url('image-3-restaurants.jpg');}
}
  
row{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
  
.column{
    flex: 21.21%;
    padding: 10px;
}