{% load static %}
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
	<link href="{% static 'register/register.css' %}?{% now 'U' %}"  rel="stylesheet">
</head>

{% block content %} 
{% load crispy_forms_tags %}     
<body>
    <div class="container-fluid">
		<div class="header">
			<div class="col-md-6">
				<a class="logo" href="{% url 'home' %}">
					TravelBuddy
				</a>
			</div>
			<div class="col-md-6">
				<div class="button-container">
					<div class="button">
						<a href="{% url 'home' %}">Return to Home</a>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="title">
		<div class="card">
			<h4>Sign in to get the best of TravelBuddy</h4>
            <form method="POST">
            {% csrf_token %}
            {{ login|crispy }}
            <button class="button-body" type="submit">Login</button>
            </form>
            <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
		</div>
	</div>
</body>
{% endblock %}
