{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'home/home.css' %}?{% now 'U' %}"  rel="stylesheet">
        <title>Homepage</title>
    </head>
    <body>
        <div class="container-fluid">
                <div class="header">
                    <div class="col-md-6">
                        <div class="logo">
                            TravelBuddy
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="col-md-6">
                        <div class="button-container">
                            <div class="button">
                                <i class="fa fa-plane"></i>
                                <a href="{% url 'favorites' %}">Planned trips </a> 
                            </div>
                            <div class="button">
                                <i class="fa fa-user icon"></i>
                                <a href="/logout"> Log out </a>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-md-6">
                        <div class="button-container">
                            <div class="button">
                                <i class="fa fa-user icon"></i>
                                <a href="{% url 'login' %}"> Sign in </a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container-fluid carousel">
            
            <div class="set">
                <div class=" image1">
                    <div class="title">
                        <div class="title-content">
                            {% if user.is_authenticated %}
                            <div class="user-greeting">
                                <div class="greeting">
                                    Welcome Back {{ user.username }}!
                                </div>
                            </div>
                            {% endif %}
                            <div class="title-container">
                                <div class="second-title">
                                    Simplify traveling with a guidebook personalized for your experiences. 
                                </div>
                            </div>
                            <div class="test">
                                <div class="button-body-container">
                                    <div class="button-body">
                                        <a href="{% url 'hotels' %}">Hotels</a>
                                        <i class="fa fa-bed icon" aria-hidden="true"></i>
                                    </div>
                                    <div class="button-body">
                                        <a href="{% url 'menu' %}">Restaurants</a>
                                        <i class="fa fa-cutlery icon" aria-hidden="true"></i>
                                    </div>
                                    <!-- <div class="button-body">
                                        Places to visit
                                        <i class="fa fa-ticket icon" aria-hidden="true"></i>
                                    </div> -->
                                </div>
                                <form action="" method="get" class="form-group has-search">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input type="text" id="input" class="input-field" placeholder="Explore Destinations..." name="destination">
                                </form>
                            </div>
                        </div>    
                    </div>

                    <div class="sub-section-style">
                        <div class="sub-section favorite">
                            <button class="button_fav">
                                Mark this destination as a favorite! 
                            </button>
                        </div>
                        {% if events %}
                        <div class="sub-section">
                            <h4>Popular events currently happening at this destination</h4>
                        </div>
                        {% endif %}
                    
                    </div>

                    <div id="jump" class="row">
                        {% for i in events %}
                        <div id="image_container" class="column">
                                <div class="card" style="height: 25rem">
                                    <a href="{{ i.event_site_url }}">
                                        <img class="card-img-top" src="{{ i.image_url }}" alt="Thumbnail Unavailable" height="200px" width="200px" >
                                    </a>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ i.name }}</h5>
                                        <p class="card-text" id="text_container">
                                            {{ i.description }}
                                        </p>
                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>